// define variables

$font-mono: 'Fira Mono', "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$font-sans: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: 'Merriweather', Georgia, "Times New Roman", serif;
$font-blog-title: 'Fredericka the Great', cursive, LiSu, sans-serif;
$font-post-title: 'Pacifico',"Helvetica Neue",Helvetica, Arial,"Microsoft Yahei",sans-serif;
$font-header: 'Raleway',"Helvetica Neue","Microsoft Yahei","微软雅黑", "WenQuanYi Micro Hei", SimHei, Heiti, Impact, Charcoal, serif;
$font-content: 'Montserrat', Helvetica, Tahoma, Arial, STXihei, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Heiti, ubuntu, sans-serif;

$font-size-main: 16px;
$font-size-code: 16px;
$line-height: 1.5em;
$line-height-title: 1.1em;

// colors
$color-background: white;
$color-border: #CCC;
$color-link: blue;
$color-near-white: #FAFAFA;
$color-underscore: #5DB1B4;
$color-main-link: #368CCB;
$color-main-link-hover: #2A64C8;
$color-primary: #39B2C3;
$color-primary-dark: #028092;
$color-primary-light: #8DDCE7;
$color-contrast: #E461BD;
$color-contrast-light: #F091D3;
$color-inverse: #EEE;

// width height
$article-padding: 1em;
$vertical-bar-width: 6px;


.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
